@tailwind base;
@tailwind components;
@tailwind utilities;

.bodyContent {
  display: grid;
  grid-template-columns: 170px 1fr;
  grid-template-rows: auto;
  background: #0f1f2c;
  color: #87fae7;
  grid-template-areas:
    "sideContent headerContent"
    "sideContent Content"
    "sideContent footer";
  min-height: 100vh;
  grid-template-rows: 100px 1fr 35px;
}
.headerContent {
  grid-area: headerContent;
  background: #091c24;
}
.sideContent {
  grid-area: sideContent;
  background: #05141a;
  filter: drop-shadow(5px 10px 15px #04141a);
}
.menuItem {
  text-align: left;
  color: #80cef0;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  margin-bottom: 5px;
  transition: 0.5s;
}
.menuItem:hover {
  background: #18546e;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  margin-bottom: 5px;
  transition: 0.5s;
}

.Content {
  grid-area: Content;
  display: flex;
  flex-wrap: wrap;
}
.footer {
  grid-area: footer;
}
